services:
  web:
    build: .
    image: kwc-web:latest
    env_file:
      - ./.env
    ports:
      - "8080:8000"
    volumes:
      - db-data:/data
      - media:/app/media
      - "${HOME}/media/wallpapers:/media/wallpapers"
    restart: unless-stopped

volumes:
  db-data:
  media:
