name: Tests

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
    
      - name: Install dependencies
        run: |
          uv sync

      - name: Setup .env
        run: |
          cp .env.example .env
      
      - name: Run migrations
        run: |
          uv run manage.py migrate
      
      - name: Run tests
        run: |
          uv run pytest -v
